{
    "parser": "babel-eslint",
    "extends": ["eslint:recommended", "plugin:react/recommended"],
    "rules": {
        "no-console": "off"
    },
    "env": {
        "node": true,
        "es6": true,
        // To avoid warning on global fetch usage
        "browser": true
    }
}
